.dark {
	color: #fff;
	background: #32373a;
}
.btn_primary {
	color: $white;
	background-color: $blue;
}
.green {
	color: $green;
}
.red {
	color: $red;
}
.blue {
	color: $blue;
}
.yellow {
	color: $yellow;
}
.orange {
	color: $orange;
}
#chartHeader {
	
}
#chartContainer {
	
}
#sidebar {

}
table {
	th {
		font-weight: bold;
	}
	th, td {
		padding: 0px 10px;
	}
	.net {
		border: 1px #fff solid;
	}
}
.rotated {
  transform: rotate(45deg); /* Equal to rotateZ(45deg) */
}
.pulse {
	transform: scale(1);
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}